<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <display-name>project4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet1</display-name>
    <servlet-name>HelloWorldServlet1</servlet-name>
    <servlet-class>HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet1</servlet-name>
    <url-pattern>/HelloWorldServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalHelloServlet</display-name>
    <servlet-name>PersonalHelloServlet</servlet-name>
    <servlet-class>PersonalHelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalHelloServlet</servlet-name>
    <url-pattern>/PersonalHelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderFormServlet</display-name>
    <servlet-name>OrderFormServlet</servlet-name>
    <servlet-class>OrderFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFormServlet</servlet-name>
    <url-pattern>/OrderFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RandomFactServlet</display-name>
    <servlet-name>RandomFactServlet</servlet-name>
    <servlet-class>RandomFactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomFactServlet</servlet-name>
    <url-pattern>/RandomFactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorldServlet</display-name>
    <servlet-name>WorldServlet</servlet-name>
    <servlet-class>WorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorldServlet</servlet-name>
    <url-pattern>/WorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClockServlet</display-name>
    <servlet-name>ClockServlet</servlet-name>
    <servlet-class>ClockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClockServlet</servlet-name>
    <url-pattern>/ClockServlet</url-pattern>
  </servlet-mapping>
</web-app>